<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Image Upload</h1>
    <!-- enctype="multipart/form-data" -->
    <form enctype="multipart/form-data" action="/image" method="post">
        <label for="title"></label>
        <input type="text" name="title" id="title" required>
        <label for="description"></label>
        <textarea name="description" id="description" required>
        </textarea>

        <label for="file"></label>
        <input type="file" name="imageFile" id="file" required accept="image/png image/jpg">

        <button type="submit">Envoyer</button>
    </form>
</body>
</html>